.modal {
	position: fixed;
    top: 0;
	left: 0;
    height: 100%;
    width: 100%;
	overflow: hidden auto;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}
.modal_inner {
    max-width: 500px;
    margin: 5vh auto;
	padding: 1rem;
	border-radius: .3rem;
	background: white;
    color: black;
}
.form_group {
	display: flex;
    margin: 0.5rem 0;
	align-items: center;
}
.title {
	margin-right: 1rem;
	flex: 1;
}
.required::before {
    content: "*";
    color: red;
}
.has_error {
    color: red;
}
.el-input,
.el-textarea {
	flex: 7;
	font-size: 1rem;
    box-sizing: border-box;
    color: #606266;
}
.el-input__inner {
    padding: 0 15px;
}
.modal_footer {
	display: flex;
    justify-content: flex-end;
}
/* transition */
.fade-enter-active,
.fade-leave-active {
	transition: opacity .3s;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}